@use '../globals.scss';

@mixin configure(

) {

}

@mixin render() {
    .tabbed_content__content {
        position: relative;
    }

    .tabbed_content__tabs {
        overflow-x: scroll;
    }

    .hide-content {
        visibility: hidden;
        position: absolute;
        width: 100%;
    }
}