@use '../globals.scss';

@mixin configure(
    $overlay-background: null,
	$overlay-z-index: null,
	$modal-z-index: null,
) {
	@if $overlay-background {
		$overlay-background: $overlay-background !global;
	} @else {
		$overlay-background: rgba(0, 0, 0, 0.5) !global;
	}

	@if $overlay-z-index {
		$overlay-z-index: $overlay-z-index !global;
	} @else {
		$overlay-z-index: 10 !global;
	}

	@if $modal-z-index {
		$modal-z-index: $modal-z-index !global;
	} @else {
		$modal-z-index: 15 !global;
    }
}

@mixin render() {
    @include renderOverlay();
    @include renderContent();
    @include animations();
}

@mixin renderOverlay() {
    .modal__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-background;
        z-index: $overlay-z-index;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@mixin renderContent() {
    .modal__content {
        background-color: white;

        .modal__close {
            cursor: pointer;
        }
    }
}

@mixin animations() {
    .model-content-enter-active,
    .model-content-leave-active {
        transition: opacity 0.5s ease;
    }

    .model-content-enter-from,
    .model-content-leave-to {
        opacity: 0;
    }

    .model-overlay-enter-active,
    .model-overlay-leave-active {
        transition: opacity 0.5s ease;
    }

    .model-overlay-enter-from,
    .model-overlay-leave-to {
        opacity: 0;
    }
}