@use '../globals.scss';

@mixin configure(
	$maximum-width: null,
	$space-vertical: null,
	$space-horizontal: null,
	$background-color: null,
	$logo-width: null,
	$use-menu-button-icons: null
) {

	@if $maximum-width {
		$maximum-width: $maximum-width !global;
	} @else {
		$maximum-width: globals.$maximum-width !global;
	}

	@if $space-vertical {
		$space-vertical: $space-vertical !global;
	} @else {
		$space-vertical: globals.$space-vertical !global;
	}

	@if $space-horizontal {
		$space-horizontal: $space-horizontal !global;
	} @else {
		$space-horizontal: globals.$space-horizontal !global;
	}

	@if $background-color {
		$background-color: $background-color !global;
	} @else {
		$background-color: white !global;
	}

	@if $logo-width {
		$logo-width: $logo-width !global;
	} @else {
		$logo-width: 200px !global;
	}

	@if $use-menu-button-icons {
		$use-menu-button-icons: $use-menu-button-icons !global;
	} @else {
		$use-menu-button-icons: true !global;
	}
}

@mixin render() {

	.header__wrapper {
		padding: 0 $space-horizontal;
		background-color: $background-color;
	}

	.header__inner {
		max-width: $maximum-width;
		margin: 0 auto;
		padding: $space-vertical 0 0;
	}

	.header__sections {
		display: flex;
		justify-content: space-between;
		margin: 0 $space-horizontal * -0.5;
	}

	.header__section {
		padding: 0 $space-horizontal * 0.5 $space-vertical;
	}

	.header__logo-wrapper {
		max-width: $logo-width;

		img {
			display: block;
			width: 100%;
		}
	}

	.header__menu-close-button-wrapper {
		padding-bottom: $space-vertical;
	}

	@if $use-menu-button-icons {
		.header__menu-toggle-label,
		.header__menu-close-button {
			display: block;
			position: relative;
			width: 40px;
			height: 40px;
			padding: 0;
			overflow: hidden;
			background-color: transparent;
			border: none;
			font-size: 0;
			white-space: nowrap;
			text-indent: 100px;
			cursor: pointer;
		}

		.header__menu-toggle-label {
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				box-sizing: border-box;
				width: 20px;
				height: 10px;
				border-style: solid;
				border-width: 2px 0;
				transform: translate(-50%, -50%);
			}

			&::before {
				margin-top: -4px;
			}

			&::after {
				margin-top: 4px;
			}
		}

		.header__menu-close-button {
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: 2px;
				background-color: black;
				margin: -1px 0 0 -10px;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(135deg);
			}
		}
	}

	.header__menu-wrapper {
		.header__section--menu:not(.header__section--desktop-menu) & {
			position: fixed;
			top: 0;
			left: 0%;
			z-index: 50;
			width: 100%;
			height: 100%;
			background-color: $background-color;
			transition: left 0.5s;

			&[hidden] {
				display: block;
				left: 100%;
			}
		}
	}

	.header__menu-inner {
		.header__section--menu:not(.header__section--desktop-menu) & {
			position: absolute;
			top: 0;
			right: 0;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			padding: $space-vertical $space-horizontal 0;
		}

		& > ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 $space-horizontal * -0.5;
			padding: 0;
			list-style-type: none;

			& > li {
				margin: 0;
				padding: 0 $space-horizontal * 0.5 $space-horizontal;

				.header__section--menu:not(.header__section--desktop-menu) & {
					width: 100%;
				}
			}
		}
	}

}
