@use '../globals.scss';

@mixin configure(
	$space-vertical: null,
	$internal-vertical-space-proportion: null,
) {

	@if $space-vertical {
		$space-vertical: $space-vertical !global;
	} @else {
		$space-vertical: globals.$space-vertical !global;
	}

	@if $internal-vertical-space-proportion {
		$internal-vertical-space-proportion: $internal-vertical-space-proportion !global;
	} @else {
		$internal-vertical-space-proportion: 0.5 !global;
	}

}

@mixin render() {
	* {
		box-sizing: border-box;
	}

    .accordion__item {
		padding-top: $space-vertical;
		padding-bottom: $space-vertical - ($space-vertical * $internal-vertical-space-proportion);
	}

    .accordion__item-header {
        width: 100%;
        border: solid 1px #CCC;
        margin: 0;
    }

    .accordion__item-panel {
        border: 1px solid #CCC;
        border-top: 0;
        padding: 0 20px;
        padding-top: 15px;
        max-height: 5000px;
        opacity: 1;
        transition: all 0.2s ease;

        p {
        	margin-top: 0;
        }

        &.accordion__item-panel-collapsed {
	    	max-height: 0;
  			overflow: hidden;
  			opacity: 0;
  			transition: all 0.2s ease;
    	}
    }

    .accordion__item-header--trigger {
    	appearance: none;
    	background-color: transparent;
    	border: 0;
    	display: block;
    	text-align: left;
    	padding: 0 20px;
    	padding-right: 60px;
    	width: 100%;
    	position: relative;
    	cursor: pointer;

    	&::before {
    		content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48bGluZSB4MT0iMTIiIHkxPSI1IiB4Mj0iMTIiIHkyPSIxOSI+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9IjE5IDEyIDEyIDE5IDUgMTIiPjwvcG9seWxpbmU+PC9zdmc+');
    		position: absolute;
    		width: 20px;
    		height: 20px;
    		right: 20px;
    		top: 50%;
    		transform: translateY(-50%) rotate(0);
    	}
    }

    .accordion__item-header--trigger[aria-expanded="true"] {
    	&::before {
    		transform: translateY(-50%) rotate(180deg);
    	}
    }
}
